<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
Policies

The company may modify these policies at any time and require people to acknowledge and agree to such changes;
such changes will be binding on you and person(s) on a going forward basis.
Continued participation by person(s) following notice of changes by XYZ shall be deemed acceptance of those changes.

“You” and “your” refers to the parent(s)/guardian(s) who signed the Agreement,
“Person(s)” refers to the student or student enrolled by you, and “we,” “us,” and “our” refers to YongWonks, a division of XYZ LLC.

These Policies apply whether your Student is participating in online or in person profiles, unless expressly stated otherwise.


{% endblock %}
</body>
</html>